# Repositories
src/*

!src/extra-addons/
src/extra-addons/*
!src/extra-addons/.gitkeep

# Data
.data/*
!.data/.gitkeep

!.data/cloudbeaver_conf/
.data/cloudbeaver_conf/*
!.data/cloudbeaver_conf/initial-data-sources.conf

!.data/nginx/

# tsconfig
tsconfig.json

# Container env override
.devcontainer/override.env

# .personal
.personal/*
!.personal/.gitkeep
