services:

    odoo:
        image: odoo
        restart: unless-stopped
        build:
            context: .
            dockerfile: ./Dockerfile
        env_file:
            - path: ./default.env
            - path: ./override.env
              required: false
        shm_size: 2gb
        privileged: true
        ports:
            - 8069:8069
            - 8070:8070
            - 8071:8071
            - 8072:8072
        volumes:
            - ../.data/odoo:/var/run/odoo
            - ../.:/work
            - ../.data/commandhistory:/commandhistory
            - /tmp/.X11-unix:/tmp/.X11-unix

    database:
        image: postgres
        restart: unless-stopped
        build:
            context: .
            dockerfile: ./Dockerfile-psql
        shm_size: 128mb
        env_file:
            - path: ./default.env
            - path: ./override.env
              required: false
        volumes:
            - ../.data/pg_data:/var/lib/postgresql/data

    proxy:
        image: nginx
        restart: unless-stopped
        ports:
            - 80:80
        volumes:
            - ../.data/nginx:/etc/nginx

    mailpit:
        image: axllent/mailpit
        restart: unless-stopped
        environment:
            - MP_DATABASE=/data/mailpit.db
        ports:
            - 8025:8025
        volumes:
            - ../.data/mailpit:/data

    database-web-admin:
        image: dbeaver/cloudbeaver:24
        restart: unless-stopped
        ports:
            - 8888:8978
        volumes:
            - ../.data/cloudbeaver_workspace:/opt/cloudbeaver/workspace
            - ../.data/cloudbeaver_conf/initial-data-sources.conf:/opt/cloudbeaver/conf/initial-data-sources.conf
